.bcontent .form-horizontal .box-body .form-group .tBtn {
	text-align: right;
}
.bcontent .form-horizontal .box-body .form-group .tBtn button{
	background: #177EC1;
	padding: 5px 20px;
	outline: none;
	border: 0;
	color: #fff;
	
}
.bcontent .form-horizontal .box-body .form-group .qBtn {
	text-align: left;
}
.bcontent .form-horizontal .box-body .form-group .qBtn button{
	background: #177EC1;
	padding: 5px 20px;
	outline: none;
	border: 0;
	color: #fff;
	
}
.bcontent .form-horizontal .box-body .form-group  label font{
	 color: #101010;
}
